body{
    display: flex;
    justify-content: center;
}
#outer_most{
    height: 600px;
    width:600px;
    background-color: gray;
    display: flex;
    justify-content: center;
}
#inner{
    height: 534px;
    width: 590px;
    background-color: white;
    margin-top: 60px;
    display: flex;
    flex-direction: row-reverse;    
}
#inner_most1{
    font-size: 10px;
    color: white;
    height: 250px;
    width:450px;
    background-color:rgb(94, 91, 91);
    margin-top: auto;
    display: flex;
}
#inner_most2{
    font-size: 10px;
    color: white;
    height: 150px;
    width:150px;
    background-color:black;
    margin-top: 100px;
    position: relative;
    right: 18px;
}
#inner_most3{
    font-size: 10px;
    color: white;
    height: 150px;
    width:150px;
    background-color:black;
    margin-left: 150px;
   
}

