body{
    display: flex;
    justify-content: center;
}
#outer_most{
    height: 600px;
    width:600px;
    background-color: gray;
    display: flex;
    justify-content: center;
}
#inner{
    height: 534px;
    width: 590px;
    background-color: white;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
#inner_most1{
    font-size: 10px;
    color: white;
    height:450px;
    width:300px;
    background-color:rgb(94, 91, 91);
    position: relative;
    z-index: 1;

}
#inner_most2{
    font-size: 10px;
    color: white;
    height: 200px;
    width:200px;
    background-color:black;
    position: relative;
    z-index: 2;
    top: 250px;
    right: 98px;
    
}
#inner_most3{
    font-size: 10px;
    color: white;
    height: 150px;
    width:150px;
    background-color:gray;
    position: relative;
    z-index: 3;
    top:350px;
    right:335px;
}
