body{
    display: flex;
    justify-content: center;

}
#outer_most{
    height: 600px;
    width:600px;
    background-color: gray;
    display: flex;
    justify-content: center;
}
#inner{
    height: 534px;
    width: 590px;
    background-color: white;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
#inner_most1{
    font-size: 10px;
    color: white;
    height: 250px;
    width:250px;
    background-color: rgb(75, 73, 73);
    margin-top: 50px;
    
}
#inner_most2{
    font-size: 10px;
    color: white;
    height: 130px;
    width:130px;
    background-color: black;
    margin: auto;
    margin-top: 25px;

}

