body{
    display: flex;
    justify-content: center;
}
#outer_most{
    height: 600px;
    width:600px;
    background-color: gray;
    display: flex;
    justify-content: center;
}
#inner{
    height: 534px;
    width: 590px;
    background-color: white;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
#inner_most1{
    font-size: 10px;
    color: white;
    height:250px;
    width:400px;
    background-color:rgb(94, 91, 91);
    display: flex;
    
   
}
#inner_most2{
    font-size: 10px;
    color: white;
    height: 150px;
    width:150px;
    background-color:black;
    flex-direction: row-reverse;
    margin-top: 45px;
    position: relative;
    right:20px;
   
}
#inner_most3{
    font-size: 10px;
    color: white;
    height: 150px;
    width:150px;
    background-color:black;
    margin-left: 80px;
    margin-top: 45px;
   
}

