body{
    display: flex;
    justify-content: center;
}
#outer_most{
    height: 600px;
    width:600px;
    background-color: gray;
    display: flex;
    justify-content: center;
}
#inner{
    height: 534px;
    width: 590px;
    background-color: white;
    margin-top: 60px;
}
#one{
    color: white;
    font-size: 15px;
    background-color: rgb(80, 78, 78);
    height:250px;
    width:250px

}
#four{
    color: white;
    font-size: 15px;
    height:250px;
    width:250px;
    background-color: rgb(66, 65, 65);
    position: relative;
    left: 300px;
    bottom: 350px;
}
#two{
    color: white;
    font-size: 15px;
    height:150px;
    width:150px;
    background-color:black;
    position: relative;
    left:350px;
    bottom:250px;
    
}
#three{
    color: white;
    font-size: 15px;
    height:150px;
    width:150px;
    background-color:black;
    position: relative;
    bottom:100px;
   
}

