body{
    display: flex;
    justify-content: center;
}
#outer_most{
    height: 600px;
    width:600px;
    background-color: gray;
    display: flex;
    justify-content: center;
}
#inner{
    height: 534px;
    width: 590px;
    background-color: white;
    margin-top: 60px;
}
#inner_most1{
    font-size: 10px;
    color: white;
    height:400px;
    width:250px;
    background-color:rgb(94, 91, 91);
   
}
#inner_most2{
    font-size: 10px;
    color: white;
    height: 150px;
    width:150px;
    background-color:black;
    margin-left: 100px;
    position: relative;
    bottom: 10px;
    right:50px;
}
#inner_most3{
    font-size: 10px;
    color: white;
    height: 150px;
    width:150px;
    background-color:black;
    margin-left: 50px;
    margin-top: 90px;
}

