body{
    display: flex;
    justify-content: center;

}
#outer_most{
    height: 600px;
    width:600px;
    background-color: gray;
    display: flex;
    justify-content: center;
}
#inner{
    height: 534px;
    width: 590px;
    background-color: white;
    margin-top: 60px;
    display: flex;
    flex-direction: row-reverse;
    
}
#inner_most1{
    font-size: 10px;
    color: white;
    height: 150px;
    width:150px;
    background-color:black
    

}
#inner_most2{
    font-size: 10px;
    color: white;
    height: 150px;
    width:150px;
    background-color:black;
    margin-top: 150px;
    margin-right: 80px;

}
#inner_most3{
    font-size: 10px;
    color: white;
    height: 150px;
    width:150px;
    background-color:black;
    margin-top: 300px;
    margin-right: 80px ;
   
}

